
@model List<TechnicalTask.Models.CustomerOrder>

@{
    ViewBag.Title = "Stock control";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Stock control</h2>

@foreach (var order in @Model)
{
    <p>@order.CustomerName</p>
    <p>@order.OrderId</p>
    <p>@order.Unit.TotalCost</p>
}